html {
  font-size: 62.5%;
  box-sizing: border-box; }

*, *::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: sans-serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  display: inline-block;
  color: crimson; }

img {
  width: 100%;
  height: auto; }

nav, .servicios, .presentacion, .footer-content {
  width: 80%;
  margin: auto; }

.titulo-servicios, .presentacion {
  margin-bottom: 10%; }

p {
  font-size: 1.8rem;
  color: black; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 2rem;
  font-weight: lighter; }

.btn, .btn-principal, .btn-secundario {
  border: none;
  border-radius: 2px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500; }

.btn-principal {
  color: #ffbb00;
  background-color: crimson; }

.btn-secundario {
  background-color: #ffbb00; }

.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 10px; }

.btn, .btn-principal, .btn-secundario {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #4d4d4d;
  padding: 13px 30px;
  border: none;
  cursor: pointer; }

.btn:hover, .btn-principal:hover, .btn-secundario:hover {
  background: #676767; }

.large {
  font-size: 1.5rem; }

.small {
  font-size: 0.64rem; }

.txt-primary {
  color: #f86032; }

.txt-gray {
  color: #c4c4c4; }

.p-80 {
  padding: 80px; }

.bk {
  background: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh; }

#trabaja .trabaja-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  #trabaja .trabaja-wrap-bk {
    background: url("../img/trabajopizza.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%; }
  #trabaja .trabaja-wrap-form {
    padding: 200px;
    background: #ffbb00;
    color: #4d4d4d;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }
    #trabaja .trabaja-wrap-form h2,
    #trabaja .trabaja-wrap-form h3,
    #trabaja .trabaja-wrap-form p {
      text-align: center; }
    #trabaja .trabaja-wrap-form h2 {
      padding-bottom: 20px; }
    #trabaja .trabaja-wrap-form form button {
      background-color: #fff;
      color: crimson;
      width: 100%;
      border-radius: 5px; }

.logo {
  width: 100px;
  height: 80px; }

header {
  position: fixed;
  top: 0;
  border-top: 30px solid #ffbb00;
  width: 100%; }

.wrapper {
  background-color: #ffbb00;
  padding-top: 100px;
  padding-bottom: 100px; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; }
  nav ul {
    display: flex;
    padding: 0; }
    nav ul a {
      padding: 10px;
      font-size: 1.6rem;
      font-weight: bold; }
    nav ul a:hover {
      color: #ffbb00;
      transform: scale(1.1); }

.presentacion {
  padding-top: 200px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; }
  .presentacion .flex-items2 {
    text-align: center; }
  .presentacion h1 {
    margin-top: 0;
    padding-right: 20px;
    font-size: 3rem; }
  .presentacion p {
    padding-right: 20px;
    padding-bottom: 10px; }

.servicios div {
  text-align: center; }

.servicios .tipo-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }
  .servicios .tipo-servicios i {
    font-size: 30px;
    color: crimson; }

footer {
  min-height: 80px;
  background-color: #0ea80e;
  margin-top: 0; }
  footer .footer-content {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px; }

@media (min-width: 1400px) {
  nav, .servicios, .footer-content, .presentacion {
    width: 60%;
    margin: auto; } }

@media (max-with: 992px) {
  .presentacion, tipo-servicios {
    flex-direction: column; }
  .presentacion div {
    text-align: center;
    margin-bottom: 30px; }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px; } }

@media (max-width: 420px) {
  .presentacion div {
    text-align: center;
    margin-bottom: 30px; }
    .presentacion div h1, .presentacion div p {
      padding: 0; } }

@media only screen and (max-width: 768px) {
  .bk {
    height: 100%; }
  #trabaja .trabaja-wrap {
    grid-template-columns: 1fr; }
    #trabaja .trabaja-wrap-bk {
      display: none; }
    #trabaja .trabaja-wrap-form {
      padding: 100px; }
  #signup .signup-form {
    width: 100%;
    padding: 20px; } }
