$color-primario:#ffbb00;
$color-secundario:crimson;
$color-fuente:black;
$box-shadow: 0 2px 10px 0 rgba(0,0,0,0.6);
$limit: 10;
$unit: 8px;

*{
    @include reset-pm();
    box-sizing: border-box;
}

body{
    background-color: $color-primario;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: $color-fuente;
    text-decoration: none;
}

h2{
    font-weight: bolder;
    font-size: size(6);
}

h3{
    font-weight: lighter;
    font-size: size(3);
}
